/* YourComponent.css */
.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../../public/images/pexels-panumas-nikhomkhai-17155842.jpg")
}

.forgot_form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.377);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: #00000047;
}

.butn[type='submit'] {
    background-color: #28a746;
}



.setPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../../public/images/setpassword.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.enter_otp {
    color: black !important;
}

.bg-custom-background {
    background-image: url("../../../public/images/pexels-brett-sayles-2479312.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pagination_div {
    margin-bottom: 20px;
}