/* YourComponent.css */
.forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../../public/images/pexels-panumas-nikhomkhai-17155842.jpg")
}

.forgot_form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.377);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: #00000047;
}

.titles {
    /* text-align: center;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.693);
    height: 40px; */

}

.mobile_form {
    /* display: flex;
    flex-direction: column; */
}

.input {
    /* margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 5px; */
}

.butn {
    /* padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; */
}

.butn[type='submit'] {
    background-color: #28a746;
}

.anchor_forgot {
    /* margin-left: 70%;
    color: blue;
    text-decoration: none; */
}

.setPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../../public/images/setpassword.jpg")
}

/* OTP form specific styles */
/* .otp-form {
    display: ${({ show })=>(show ? 'flex' : 'none')
}

;
flex-direction: column;
margin-top: 20px;
} */
.enter_otp {
    color: black !important;
}

.bg-custom-background {
    background-image: url("../../../public/images/pexels-brett-sayles-2479312.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pagination_div {
    margin-bottom: 20px;
}