.authentication {
    background-color: rgb(173, 173, 173);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.authentication_form {
    width: 100%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 20px !important;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(96, 94, 94, 0.5);
    border-radius: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/* * {
    font-family: Arial, Helvetica, sans-serif !important;
} */

input {
    width: 100%;
    border-radius: 5px !important;
    border: 1px solid rgba(120, 120, 120, 0.556);
    height: 35px;
    padding: 2px 2px;

}

.ant-btn {
    background-color: rgb(74, 74, 157) !important;
    color: white;
    margin-left: 35%;
}

.anchor {
    margin-left: 5%;
    color: blue;
    text-decoration: none;
    margin-left: 223px;
}

.Spotlight {
    color: rgb(255, 255, 255);
    margin: 0;
}

.subHeader {
    background-color: rgb(0, 0, 0);
    padding: 10px 10px 10px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.guest_home {
    width: 300px;
    color: white;
}

/* Responsive styles */
@media screen and (max-width: 600px) {

    /* Adjust padding for smaller screens */
    .subHeader {
        padding: 10px;
    }

    /* Make h1 and h6 elements block-level */
    .subHeader h2,
    .subHeader h6 {
        display: block;
        margin-bottom: 10px;
    }

    /* Center h1 and h6 elements on smaller screens */
    .subHeader h1,
    .subHeader h6 {
        text-align: center;
    }

    /* Adjust width for .guest_home on smaller screens */
    .guest_home {
        width: 100%;
    }
}

.authentication {
    background-image: url("../../../public/images/pexels-anna-shvets-3727556\ \(1\).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

@media screen and (max-width: 768px) {
    .image-background {
        background-size: contain;
    }
}

/* Login */
.forget {
    margin-left: 60%;
    text-decoration: none;
    color: blue;
}

label {
    color: rgb(255, 255, 255) !important;
}

.bannerAdd {
    margin-left: 1%;
    width: 150px;
    margin-top: 1%;
    height: 40px;
    background: rgb(0, 229, 255) !important;
    font-size: 20px;
}

.banner-div {
    border: 1px solid rgba(0, 0, 0, 0.686);
    margin-top: 116px !important;
    margin-right: 134px;
    margin-left: 353px;
    box-shadow: 0 0 10px rgba(96, 94, 94, 0.5);
}

.banner_label {
    color: black !important;
}


.banner_botton {
    width: 200px;
    margin-top: 10px;
    margin-left: 39%;
    font-size: 15px !important;
}

.banner_heading {
    font-size: 30px;
    margin-left: 37%;
}

.banner_labels {
    color: black !important;
}

/* booking -form */
.bookng-form-div {
    background: #0F9F8B;
    border-radius: 10px;
    width: 65%;
    margin-left: 17%
}

/*  */
/*  */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0px 7px 0px 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 46px;
    border-radius: 3px;
    width: 100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.sortbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0px 7px 0px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 46px;
    border-radius: 3px;
    width: 141px;
}

/* .ArtistView page */
.user_artist_view {
    /* background-color: Black; */
    padding: 4% 5% 0% 5%;
    border-radius: 4px;
}

.abouts {
    width: 100%;
    padding: 78px 0px;
    background-color: #000000;

}

.abouts img {
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}

.about-text {
    width: 100%;
    max-width: 550px;
    padding: 0 20px;
    margin-left: 2%;
    /* Add some padding for smaller screens */
    box-sizing: border-box;
}

.main {
    width: 95%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* Change to column layout for smaller screens */
    align-items: center;
}

.about-texts h1,
.about-texts h5,
.about-texts p {
    text-align: center;
    /* Center align text on smaller screens */
}

.adminArtistViewButton {
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 20px;

}

.adminArtistViewButton:hover {
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.adminArtistView {
    padding: 0% 2% 0% 0%;
}

.about-texts h1 {
    color: rgb(255, 255, 255);
    font-size: 249%;
}

.about-texts p {
    color: rgb(255, 255, 255);
    margin-left: 5%;

}

.about-texts h5 {
    color: rgb(175, 0, 0);
    font-size: 115%;
    text-decoration: 2px rgb(0, 0, 0) underline;
}

.minBudjets {
    background: rgb(76, 128, 8);
    margin-left: 18%;
    margin-top: 2%;
    font-size: 115%;
    width: 17%;
    color: white;
    padding: 1%;
    border-radius: 13px;
}

.minBudjets:hover {
    background: black;
    border: 1px solid rgb(76, 128, 8);

}

/* Media queries for responsiveness */
@media screen and (min-width: 1000px) {
    .main {
        flex-direction: row;
        /* Restore row layout for larger screens */
    }

    .about-texts {
        padding: 0;
    }
}

/* /profile */
.profile_div {
    /* height: 500px; */
    min-width: 100%;
}

.profile_h1 {
    margin-top: 31px;
    margin-left: 18px;
}

.profile_name {
    font-size: 30px !important;
    color: white;
}

.profile_email_mobile {
    margin-top: 10px !important;
    font-size: 15px !important;
    color: white;
}

.profile_button {
    background-color: green !important;
    height: 30px;
    /* font-size: px; */
    width: 100px;
}

.profile_button:hover {
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(76, 128, 8) !important;
    color: green !important;
    border: 2px solid green !important;
}

.profile_image_div {
    width: 200px;
    margin-left: 14%;
}

.profile_bookings_button:hover {
    background-color: white !important;
    border: 2px solid rgb(74, 74, 157) !important;
    color: rgb(74, 74, 157) !important;
}

.image_profile {
    width: 200px;
    margin-left: 21%;
    height: 150px;
}

.profile_card_div {
    background-color: rgb(31 41 55);

}

.edit_input {
    height: 40px;
    border: 1px solid black;
    background: white;
    margin-top: 8px;
}

.edit_form_main_div {
    padding: 3% 6% 4% 6%;
    background-color: rgb(31 41 55);
    border-radius: 10px;
    width: 61%;
    margin-left: 20%;
    margin-top: 20px;
}

.Edit_profile_heading {
    color: white !important;
    margin-bottom: 23px;
    margin-left: 39%;
}

.edit_profile_image {
    width: 100px;
    border-radius: 62px;
    margin-left: 40%;
}

/* . */
.container {
    margin-bottom: 150px;
}

.notificaion_box {
    margin-bottom: 30px;
}

.confirm_booking_heading {
    font-size: 20px !important;
}

.booking_listing_div {
    padding: 5% 5% 0% 5%;
    margin-bottom: 13%;
}

/* .Editing */
.post_home_main_div {
    padding: 4% 2% 4% 2%;
}

.review_main_div {
    background-image: url('../../../public/images/pexels-haste-leart-v-690597.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rating_lable {
    color: black !important;
}

.title_div {
    margin-bottom: 5px;
}

.reviews_in_artist_view_page {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
}

/* .main_artist_view_pagess {
    background-image: url('../../../public/images/pexels-haste-leart-v-690597.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */