.signUp {
    background-image: url("../../../public/images/forget\ images.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.form_div {
    background-color: rgba(0, 0, 0, 0.542);
    padding: 12px;
    border-radius: 10px;
    max-width: 350px !important;
    height: 500px;
}


input {
    width: 100%;
    height: 30px;
    padding: 2px 2px;

}

.sign_text {
    color: white;
}

.text {
    color: rgba(255, 0, 0, 0.94);
}

otp form .height-100 {
    height: 100vh
}

.card {
    width: 400px;
    border: none;
    height: 300px;
    box-shadow: 0px 5px 20px 0px #d2dae3;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.card h6 {
    color: red;
    font-size: 20px
}

.inputs input {
    width: 40px;
    height: 40px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.card-2 {
    background-color: #fff;
    padding: 10px;
    width: 350px;
    height: 100px;
    bottom: -50px;
    left: 20px;
    position: absolute;
    border-radius: 5px
}

.card-2 .content {
    margin-top: 50px
}

.card-2 .content a {
    color: red
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid red
}

.validate {
    border-radius: 20px;
    height: 40px;
    background-color: red;
    border: 1px solid red;
    width: 140px
}

.block,
.text-center {
    font-size: 12px;
}



.upload_post_input {
    border: 1px solid grey;
}

.upload_form_div {
    padding: 4% 12% 7% 11%;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 5px;
}

.upload_form_div_main {
    background-image: url('../../../public/images/pexels-kindel-media-7149165.jpg');
    background-size: cover;
    background-position: center;
    padding: 7% 37% 13% 34%;
}